SimpleGame/.vs/SimpleGame/v16/Solution.VC.db-wal
SimpleGame/.vs/SimpleGame/v16/.suo
SimpleGame/.vs/SimpleGame/v16/Solution.VC.db
SimpleGame/.vs/SimpleGame/v16/Solution.VC.db-shm
SimpleGame/.vs/slnx.sqlite
SimpleGame/.vs/VSWorkspaceState.json
SimpleGame/.vs/ProjectSettings.json
